body {
  margin: 0;
}

/* header section */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  height: 60px;
  width: 70px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

.btn-nav {
  color: black;
}

/* main content section */
div {
  border: 1px solid black;
}

.main {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.lead-story .image-content{
  background-image: url("./background-images/img-story-main.png");
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.cat-ceo.image-content {
  background-image: url("./background-images/img-story-1.png");
}

.fall-cancelled.image-content {
  background-image: url("./background-images/img-story-2.png");
}

.pop-culture.image-content {
  background-image: url("./background-images/img-story-3.png");
}

.story .narrative {
  font-size: 17px;
  color: black;
}
